@mixin font($font-size, $font-weight, $line-height, $font-style, $color: null) {
  @if $font-weight {
    font-weight: $font-weight;
  }
  @if $line-height {
    line-height: $line-height;
  }
  @if $font-size {
    font-size: $font-size;
  }
  @if $font-style {
    font-style: $font-style;
  }
  @if $color {
    color: $color;
  }
}

@mixin gradient-text {
  background: linear-gradient(114.44deg, #0038f5 0%, #9f03ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin hoverBorder(
  $background,
  $border-radius: 10px,
  $xScale: 1.07,
  $yScale: 1.25
) {
  &:after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: $line;
    border-radius: $border-radius;
    z-index: -1;
    transition: all 0.3s ease;
  }
  &:hover:after,
  &:focus::after,
  &:active:after {
    transform: scale($xScale, $yScale);
    opacity: 0.5;
  }
}
