/// GrayScale
$title-active: #222222;
$body: #333333;
$label: #555555;
$placeholder: #888888;
$line: #dcdcdc;
$input-bg: #f0f0f0;
$bg: #f8f8f8;
$off-white: #fcfcfc;
$bg-default: #ffffff;

/// Primary
$primary-default: #002ef1;
$primary-dark: #0000ea;
$primary-dark-mode: #005cff;

/// Secondary
$secondary-default: #ffb802;
$secondary-dark: #ff9700;
$secondary-dark-mode: #ffe604;

/// Error
$error-default: #fe3f61;
$error-dark: #fd0025;
$error-dark-mode: #ff7e86;

/// Success
$success-default: #009846;
$success-dark: #02971c;
$success-dark-mode: #36ea88;

/// Warning
$warning-default: #ff6711;
$warning-dark: #eb3800;
$warning-dark-mode: #ff9922;

/// Gradient
$primary-gradient: linear-gradient(108.08deg, #0000eb -2.53%, #004bfb 106.16%);
$secondary-gradient: linear-gradient(
  108.08deg,
  #ff9c00 -2.53%,
  #ffdb03 123.11%
);
$accent-gradient: linear-gradient(114.44deg, #0038f5 0%, #9f03ff 100%);
