@import '@styles/abstracts/mixins';
@import '@styles/abstracts/variable';

.oa-button {
  height: 40px;
  width: max-content;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;

  padding: 9px 30px 7px;

  background: $bg-default;
  border-radius: 8px;
  border: 1px solid $placeholder;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;

  @include font(16px, 700, 24px, normal);

  & > .oa-button__text {
    @include gradient-text;
  }

  &:hover,
  &:focus,
  &:active,
  &.oa-button_loading {
    background: $input-bg;
  }
  &:disabled:before {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    border-radius: 8px;
    margin: -1px;
    opacity: 0.5;
    background: $bg-default;
    z-index: 2;
  }
}

.oa-button_large {
  height: 56px;
  padding: 15px 40px 13px;

  @include font(20px, 700, 28px, normal);

  & > .oa-button__text {
    height: 28px;
  }
}

.oa-button_loading {
  background: $input-bg;
  & > .oa-button__text {
    position: absolute;

    opacity: 0;
    transition: opacity 0.15s ease;
  }
}

.oa-button_primary {
  background: $accent-gradient;
  border: none;

  & > .oa-button__text {
    color: #fff;
    -webkit-text-fill-color: #fff;
  }

  @include hoverBorder(#dcdcdc);

  &:hover,
  &:focus,
  &:active,
  &.oa-button_loading {
    background: $accent-gradient;
  }
}

.oa-button_secondary {
  border: 1px solid transparent;
  background: linear-gradient($bg-default, $bg-default) padding-box,
    $accent-gradient border-box;
  & > .oa-button__text {
    color: $bg-default;
  }

  &:hover,
  &:focus,
  &:active,
  &.oa-button_loading {
    border: 1px solid transparent;
    background: linear-gradient($input-bg, $input-bg) padding-box,
      $accent-gradient border-box;
  }
}

.oa-button_subtle {
  background: $bg-default;
  border: 1px solid $placeholder;

  & > .oa-button__text {
    @include gradient-text;
  }
}

.oa-button_text {
  border: none;
  & > .oa-button__text {
    @include gradient-text;
  }
  &:hover,
  &:focus,
  &:active {
    background: $bg;
  }
}

.oa-button__text {
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  z-index: 1;
}

.oa-button__loading {
  transition: opacity 0.2s ease;
  z-index: 1;

  &-entering {
    opacity: 0;
  }
  &-entered {
    opacity: 1;
  }
  &-exiting {
    position: absolute;
    opacity: 0;
  }
}
